/*main rulea*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(5, 5, 5);
  width: 800px;
  height: 700px;
  background-color: rgb(250, 249, 249);
  box-sizing: border-box;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  color: rgb(7, 7, 7);
}
h3 {
  color: #187ebc;
  text-transform: capitalize;
  margin-bottom: 20px;
}
span {
}
strong {
  color: rgb(0, 0, 0);
}

div {
  line-height: 1.7;
  padding-left: 20px;
  color: rgb(80, 79, 79);
}
i {
  color: white;
  padding-right: 5px;
}
article {
  float: left;
  width: 55%;
}
section {
  float: right;
  width: 45%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/*start of header*/
h1 {
  margin-bottom: -5px !important;
}
/*end of header*/

/*start of education*/
/*end of education*/

/*start of courses*/
article .body2 {
  margin-top: 20px;
}

/*end of courses*/
/*start of pesonal*/
.personal {
  margin-top: -32px;
  font-size: 18px;
  letter-spacing: 2px;
  box-sizing: border-box;
  color: rgb(0, 0, 0) !important;
}
.personal div {
  color: rgb(0, 0, 0);
}
.personal h4 {
  color: #187ebc;
  display: inline;
  font-weight: bold;
}
.personal .mail {
  margin-left: -4px;
}
/*end of personal*/
/*start of language*/
.language {
  padding: 10px;
  padding-left: 20px;
}
.language div {
  width: 45%;
  background-color: grey;
  height: 5px;
  width: 80%;
  line-height: 25px;
  padding-left: 0;
  margin-left: 0;
  margin-top: 5px;
}
.language span {
  background-color: #187ebc;
  height: 5px;
  display: block;
  color: white;
}

/*start of skills*/
.skills {
  padding: 10px;
  padding-left: 20px;
}
.skills div {
  width: 45%;
  background-color: grey;
  height: 5px;
  width: 80%;
  line-height: 25px;
  padding-left: 0;
  margin-left: 0;
  margin-top: 5px;
}
.skills span {
  background-color: #187ebc;
  height: 5px;
  display: block;
  color: white;
}
i {
  color: black;
}
